.MedicineRequest {
  text-align: left;

  padding-bottom: 20px;
  margin-bottom: 25px;

  border-bottom: 2px solid black;
}

.MedicineRequest-heading {
  font-size: 20px;
  font-weight: bold;
}

.MedicineRequest-line {
  clear: both;
  padding-top: 10px;
  padding-bottom: 22px;
  border-bottom: 2px dotted black;
}

.MedicineRequest-tag {
  float: left;
  font-size: 18px;
}

.MedicineRequest-field {
  float: right;
  font-size: 18px;
}

.hover-class {
  background-color: white;
  border-color: black;
  border-width: medium;
  border-style: solid;
}
